<h1 class= "title">Weather</h1>
<h2 class= "instructions">Choose a city:</h3>
<ul>
	<li class= "city"><a href= "/weather?city=Omaha&lat=41.2524&long=-95.9980">Omaha</a></li>
	<li class= "city"><a href= "/weather?city=Kansas City&lat=39.0997&long=-94.5786">Kansas City</a></li>
	<li class= "city"><a href= "/weather?city=Minneapolis&lat=44.9778&long=-93.2650">Minneapolis</a></li>
	<li class= "city"><a href= "/weather?city=Chicago&lat=41.8781&long=-87.6298">Chicago</a></li>
</ul>
